<div class="Req_History_Card">
    <div class="req_text" id="req_model">{{car}}</div>
    <div class="req_text">Job Type: {{type}}   Client: {{username}}</div>
    <div class="req_text">Quotation Amount: {{price}}</div>
    <div class="req_text">Paid Balance: {{paid}}</div>
    <div class="req_text">Outstanding Balance:{{outstanding}}</div>

</div>